.App {
	min-height: 100vh;
	background: linear-gradient(90deg, rgba(199,197,240,1) 0%, rgba(229,242,0,1) 33%, rgba(0,212,255,1) 100%);
}

.search-form{
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar{
 width: 50%;
 border: none;
 padding: 10px;
}

.search-button{
	background: lightcoral;
	border: none;
	padding: 10px, 20px;
	color: white;
}

.recipes{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}